# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.python-version

# Environment variables
.env

# Data files
datasets/


# Logs and outputs
logs/
runs/
outputs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/